@model IEnumerable<UserDto>

<div class="buttonsContainer">
    <div class="col-2 justify-content-center">
        <button id="createButton">Create</button>
    </div>
</div>

<div class="container">
    <div class="row">
            <div class="col-1 justify-content-center">
                <label class="taskId head">Id</label>
            </div>
            <div class="col-2 justify-content-center">
                <label class="taskTitle head">FullName</label>
            </div>
            <div class="col-2 justify-content-center">
                <label class="taskGroupTitle head">Email</label>
            </div>
            <div class="col-2 justify-content-center">
                <label class="taskMaxResult head">Groups</label>
            </div>
        </div>

    @foreach(var student in Model)
    {
        <div class="row">
            <div class="col-1 justify-content-center">
                <label class="taskId">@student.Id</label>
            </div>
            <div class="col-2 justify-content-center">
                <label class="taskTitle">@student.FullName</label>
            </div>
            <div class="col-2 justify-content-center">
                <label class="taskGroupTitle">@student.Email</label>
            </div>
            <div class="col-2 justify-content-center">
                <label class="taskMaxResult">@student.GroupTitle</label>
            </div>
        </div>
    }
</div>

<div id="popupWin" class="formWindow">
    
</div>

<script src="~/js/studentlist.js"></script>