@model TaskViewModel

@{
    Layout = null;
}

<form asp-action="CreateTask" asp-controller="Teachers" asp-route-courseId=@Model.CourseId>
    <h2 style="text-align: center" id="title">Создать</h2>

    <div class="row col-12 justify-content-center">
        <label asp-for="Title">Название:</label>
        <input type="text" asp-for="Title" />
    </div>

    <div class="row col-12 justify-content-center">
        <label asp-for="Description">Описание:</label>
        <textarea asp-for="Description"></textarea>
    </div>

    <div class="row col-12 justify-content-center">
        <label asp-for="MaxResult">Максимальный результат:</label>
        <input type="number" asp-for="MaxResult" />
    </div>

    <div class="row col-12 justify-content-center">
        <div class="col-2">
            <label asp-for="CourseId" hidden>Курс:</label>
        </div>
        <div class="col-2">
            <select asp-for="CourseId" class="form-select" asp-items="Model.Courses" hidden></select>
        </div>
    </div>

    <input style="text-align: center" type="submit" value="Создать">
</form>