@model CreateStudentsGroupViewModel

@{
    Layout = null;
}

<form asp-action="CreateStudentsGroup" asp-controller="Teachers">
    <h2 style="text-align: center" id="title">Создать группу</h2>

    <div class="row col-12 justify-content-center">
        <label asp-for="Title">Название:</label>
        <input type="text" asp-for="Title" />
    </div>

    <div class="row col-12 justify-content-center">
        <label asp-for="OwnerId" hidden>Владелец:</label>
        <input type="hidden" asp-for="OwnerId" value="@Model.OwnerId"/>
    </div>

    <input style="text-align: center" type="submit" value="Создать">
</form>